extends layout

block content
  h2= Atburðir
  .row
    .col-md-2
      ul.list-unstyled
        li 
          a(href='events/add').btn.btn-success.btn-raised.btn-xs Bæta við atburð
        li 
          a(href='events/add').btn.btn-success.btn-raised.btn-xs Flokka eftir fagi
    .col-md-10
      .panel.panel-default
        //- .panel-heading
        //-   h3.panel-title Atburðir
        .panel-body
          .list-group
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 13. nóv
                h4.list-group-item-heading Vefforritun
                p.list-group-item-text Node.js upprifjun
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
            .list-group-item
              .row-action-primary.checkbox
                label
                  input(type='checkbox')
              .row-content
                .least-content 14. nóv
                h4.list-group-item-heading Forritunarmál
                p.list-group-item-text Haskell verkefni
            .list-group-separator
