extends layout

block content
  .home#home
    .text-vcenter
      h1 Dreifð endurtekning
      h3 Lærdómur hefur aldrei verið auðveldari
  .pad-section#about
    .container
      .row
        .col-sm-6
          img(src='images/graf2.jpg' alt='Graf sem lýsir dreifðri endurtekningu')
          img(src='images/graf.jpg' alt='Graf sem lýsir dreifðri endurtekningu')
        .col-sm-6.text-center
          h2 Hvernig er best að læra nýja hluti?
          p.lead Rannsóknir hafa í gegnum tíðina sýnt að eftir að við lærum eitthvað nýtt gleymum við því mjög hratt. Eftir sólahring munum við kannski innan helming af því sem við lærðum daginn áður. Eftir viku um 30 prósent og eftir mánuð ekki nema 25 prósent. Það sem dreifð endurtekning gerir er að koma í veg fyrir þetta og snúa þróuninni við.
        .col-sm-6.text-center
          h2 Ein mynd segir meira en 1000 orð
          p.lead En eins og þessi tvö gröf sýna okkur svart á hvítu þá virkar dreifðendurtekning svo einfalt er það.
  .pad-section#services
    .container
      h2.text-center Hvernig þetta allt saman virkar
      hr
      .row.text-center
        .col-sm-3.col-xs-6
          i.mdi-social-person.glyphicon
          h4 Búðu til aðgang
          p Fyrst býrðu þér til aðgang á síðunni okkar og loggar þig inn
        .col-sm-3.col-xs-6
          i.mdi-content-create.glyphicon
          h4 Settu inn glósurnar þínar
          p Eftir að það er búið, þá skrifaru inn hvað þú glósaðir þann skóladaginn og upplýsingar hvar þú ert með glósurnar
        .col-sm-3.col-xs-6
          i.mdi-action-event.glyphicon
          h4 Þú færð áminningar með ákveðnu millibili
          p Kerfið okkar sendir þér síðan póst sem minnir þig á hvenær þú átt að rifja upp efnið
        .col-sm-3.col-xs-6
          i.mdi-social-school.glyphicon
          h4 Njóttu, betri námsárangur er rétt handan við hornið
          p Nú er ekkert eftir nema að njóta! Svo eftir hverju bíðuru skráðu þig strax í dag
  .pad-section#information
    .container
      .row
        .col-sm-6
          .panel.panel-success
            .panel-heading
              h2.panel-title Hvernig kerfið virkar
            .panel-body.lead Kerfið virkar þannig að sólahring eftir að þú lærir eitthvað nýtt þarft þú að rifja upp það sem þú varst að læra. Upprifjunin þarf ekki að taka langan tíma, kannski tvær mínútur, kannski 10, það fer bara eftir viðfangsefninu. Viku seinna þarftu svo aftur að kíkja aðeins aftur á þetta sama viðfangsefni. Og svo aftur mánuði seinna. Með því að rifja viðfangsefni upp með dreifðri endurtekningu hafa rannsóknir sýnt að nemendur muna að meðaltali 92 prósent af því sem þau lærðu 3 mánuðum seinna. Og það er akkúrat það sem við viljum þegar kemur að prófatörninni. 
        .col-sm-6
          .panel.panel-success
            .panel-heading
              h2.panel-title Kerfið er fyrir alla!
            .panel-body.lead Við lögðum mikið uppúr því að gera kerfið sem einfaldast í notkun og allt viðmót sem skýrast. Jafnvel þótt þú kunnur bara að ræsa tölvuna þína sem þú greinilega kannt fyrst þú ert að skoða síðuna í þessum töluðu orðum þá ábyrgjumst við að þú getir notað kerfið sem við bjuggum til og jafnframt að það muni gagnast þér í því námi sem þú ert í á þessari stundu.


