extends layout

block content
  .container
    .row
      .col-md-6.col-md-offset-3
        .well
          if message
            p= message
          if user
            p= user
          fieldset 
            form.form-horizontal(action='/login' method='post')
              .form-group
                label.col-lg-3.control-label(for='username') Notendanafn
                .col-lg-9
                  input#username.form-control.input-lg(type='text' name='username' pattern='.{3,}' title='Lágmark 3 stafir' required)
              .form-group
                label.col-lg-3.control-label(for='password') Lykilorð
                .col-lg-9
                  input#password.form-control.input-lg(type='password' name='password' pattern='.{5,}' title='Lágmark 5 stafir' required)
              .form-group
                .col-lg-9.col-lg-offset-3
                  button.btn.btn-material-lightgreen(type='submit') Innskrá
        .text-center
          h4
            a(href='/signup') Búa til nýjan aðgang

